Acto-Sphere/py/schemas/log_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LogData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Entry" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="timestamp" type="xs:string"/>
                            <xs:element name="file" type="xs:string"/>
                            <xs:element name="change" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
